.brasao1 > h1 {
    display: inline;
    font-family:sans-serif;
    font-size:xx-large;

}

button{

    background-color: #4f46e5;
    color: fff #000;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins' , sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 20px;
    cursor:pointer
    transition:0.2s
}
